.c-hero__image {
  width: 496px;
  height: 622px;
  background: #6fb9e0;
  position: absolute;
  bottom: 0;
  left: -30px;
  top: 0;
  z-index: 5;
  box-shadow: 0 48px 64px -24px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  opacity: 0.4;

  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 992px) {
  .c-hero__image {
    opacity: 1;
    top: 60px;
  }
}