.maker {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em;
  z-index: 100;
}
.maker__text {
  color: #fff;
}
.maker__text span {
  opacity: 0.7;
}
.maker__link {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 10;
  opacity: 0.7;
  font-weight: 500;
}
.maker__link:hover {
  text-decoration: none;
  opacity: 1;
}
.strike {
  text-decoration: line-through;
}
