.c-hero {
  overflow: hidden;
}

@media (min-width: 992px) {
  .c-hero {
    overflow: visible;
  }
}

.c-hero--one {
  background-image: -webkit-linear-gradient(152deg, #61bfd9 16%, #0551b4 67%);
  background-image: -o-linear-gradient(152deg, #61bfd9 16%, #0551b4 67%);
  background-image: linear-gradient(242deg, #61bfd9 16%, #0551b4 67%);
}

.c-hero__kanye {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.c-hero__kanye--two {
  background-image: -webkit-linear-gradient(152deg, #15af88 16%, #6c429a 67%);
  background-image: -o-linear-gradient(152deg, #15af88 16%, #6c429a 67%);
  background-image: linear-gradient(242deg, #15af88 16%, #6c429a 67%);
}

.c-hero__kanye--three {
  background-image: -webkit-linear-gradient(152deg, #eea031 18%, #930560 67%);
  background-image: -o-linear-gradient(152deg, #eea031 18%, #930560 67%);
  background-image: linear-gradient(242deg, #eea031 18%, #930560 67%);
}