.c-content {
  padding: 0 0 5em;

  p {
    font-size: 20px;
    color: #394956;
    line-height: 150%;
    margin: 0;

    + p {
      margin-top: 2em;
    }
  }
}

@media (min-width: 992px) {
  .c-content {
    padding: 5.5em 0 6.5em;
  }
}

@media (min-width: 992px) {
  .c-content p {
    font-size: 20px;
    line-height: 150%;
  }
}