.form-container {
  position: relative;
  z-index: 20;
  top: -40px;
}
.form__button {
  background: #0551b4;
  color: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.5px;
  border: 0;
  height: 76px;
  padding: 0 2em;
  transition: background 0.3s ease-in-out;
  width: 100%;
}
@media (min-width: 992px) {
  .form__button {
    width: auto;
  }
}
.form__button:hover {
  background: #043b82;
}
.form .form-input__mini {
  width: 55px;
}
.form__bar {
  box-shadow: 0 23px 50px -13px rgba(0, 0, 0, 0.3);
}
.form__block {
  background: white;
  padding: 12px 30px;
  color: #2a3b47;
  font-size: 20px;
  letter-spacing: -0.5px;
}
@media (min-width: 992px) {
  .form__block {
    height: 76px;
  }
}