.banner-content-wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}

.banner-content-wrapper--fluid {
  max-width: 100%;
}

.banner-content-wrapper--responsive {
  max-width: 100%;
}
@media (min-width: 544px) {
  .banner-content-wrapper--responsive {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .banner-content-wrapper--responsive {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .banner-content-wrapper--responsive {
    max-width: 940px;
  }
}